@width: 500px;
@height: 280px;

@primaryFontColor: #BBB;
@secondaryFontColor: #0D91A1;

@borderColor: #DDD;



@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/Oswald-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 700;
	src: local('Oswald Bold'), local('Oswald-Bold'), url('../fonts/Oswald-Bold.woff') format('woff');
}

body {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 8px 15px;
	background: #FFFFFF;
	width: @width;
	// height: @height;
	color: @primaryFontColor;

	* {
		box-sizing: border-box;
	}
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	background-color: @borderColor;
	border: none;
}

#container {
	display: block;

	#left {
		display: inline-block;
		width: (@width * 0.20);
		float: left;
		padding: 0px 0 0 5px;
		border-right: 1px solid @borderColor;
		height: (@height - 68);

		span {
			font-size: 16px;
			text-transform: uppercase;
			color: @secondaryFontColor;
		}

		ul {
			list-style: none;
			margin: 10px 0 0 0;
			padding: 0;

			li {
				font-size: 18px;
				cursor: pointer;
				margin-bottom: 10px;

				&:hover {
					color: @secondaryFontColor;
				}
			}
		}
	}

	#right {
		display: inline-block;
		width: ((@width * 0.80) - 12);
		float: right;

		#presets {
			> span {
				font-size: 16px;
				text-transform: uppercase;
				color: @secondaryFontColor;
				display: block;

				> small {
					color: @borderColor;
					margin-left: 8px;
					vertical-align: 1px;
				}
			}

			.preset {
				padding: 5px 0;
				margin: 0 0 8px 0;
				float: left;
				width: (((@width * 0.80) - 12) / 4);
				text-align: center;
				border-radius: 3px;
				font-weight: 400;

				&.active,
				&:hover {
					color: @secondaryFontColor;
					cursor: pointer;
				}

				.fa {
					font-size: 62px;
				}

				span {
					font-size: 18px;
				}
			}
		}

		#customWrapper {
			position: relative;
			margin-bottom: 15px;

			#customHeader {
				margin-bottom: 25px;

				h2 {
					font-size: 16px;
					font-weight: 400;
					text-transform: uppercase;
					margin: 0;
					padding: 4px 0 0 0;
					display: inline-block;
					color: @secondaryFontColor;
				}

				div {
					font-size: 18px;
					display: inline;
					position: absolute;
					right: 0;
					top: 0;
				
					#customValue {
						margin-right: 10px;
					}

					button {
						font-size: 16px;
						font-family: 'Oswald', sans-serif;
						background: @primaryFontColor;
						color: #FFFFFF;
						padding: 6px 10px;
						margin-left: 5px;
						border: none;
						cursor: pointer;
						margin-top: -1px;

						&:hover {
							background: @secondaryFontColor;
						}
					}
				}
			}

			#customBreakpoint {
				width: (((@width * 0.80) - 12px) - 36px);
				margin: 15px auto;
				background-color: @secondaryFontColor;
			}
		}
	}
}

#footer {
	position: relative;

	h1 {
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		display: inline;
		color: @primaryFontColor;
	}

	#version {
		font-size: 14px;
		font-weight: 400;
		color: @primaryFontColor;
		display: inline;
		position: absolute;
		right: 0;
		bottom: 1px;
		text-align: right;
	}
}